/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-color: #fff;
}
/*div {
    border: 0px solid transparent;
}*/
.top-navigation{
	background-color:#fff;
	position:fixed;
	width:100%;
	z-index:9999;
}
.top-navigation > content{
	width:970px;
	height: 70px;
	margin:0 auto;
}
.content{
	padding:0 350px;
}
.content img{
	height: 70px;
}
ul.links{
	float:right;
	margin:30px 150px;
}
ul.links > li{
	display:inline-block;
	margin-left:1.5em;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.banner{
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  /* height: 62em; */
  height: 45em;
}
.banner .text{
	text-align: center;
	color:#fff;
}
.text h1{
	margin-bottom:25px;
	font-size:3em;
	padding-top:5em;
}
.text h2{
	font-size:1.5em;
}
.button{
	width:11em;
	margin: 0 auto;
}
button{
	 width: 11em;
  background-color: #f15a29;
  border-color: #f15a29;
  border-radius: 4px;
  padding: 0.5em 2em;
  margin-top: 2em;
	text-align: center;
  text-shadow: none;
  border-style: none;
  color: #fff;
  /* width: 100%; */
  font-size: 1em;
}
button:hover{
	background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}
.description img{
	width:127px;
	height:127px;
	display:block;
	margin: 0 auto;
}
.mainContent h1{
	  text-align: center;
  font-size: 3em;
  color: #000;
  margin-top: 2em;

}
.description{
   width: 99%;
  margin: 0 auto;
  margin-top:2em;
}
.desc{
	width:33.33%;
	display:inline-block;
	margin-right:-4px;
}
.desc p{
	margin-top:1em;
	text-align: center;
	font-size: 1.5em;
	color:#000;
}
.mainContent{
	background-color:#fff;
	margin-bottom:8em;
}
.footer{
	padding-top:2em;
	padding-bottom:9em;
}
.footer p{
	text-align:center;
	color: #000;
}
.footerContent{
	width: 970px;
  	margin: 0 auto;
	border-top: 2px solid #eaebec;
	padding-top: 1em;
}
p.copyright{
	color: #838994;
	font-weight: 300;
}
.footerContent .icons{
	margin: 0 auto;
  	width: 17%;
}
.footerContent .icons > li{
	  border-radius: 1.25em;
	  width: 2.5em;
	  height: 2.5em;
	  display: inline-block;
	  margin: 1.25em 5px;
	  border: 1px solid #eaebec;
	  padding: 0.625em 0;
	  text-align: center;
}
.footerContent .facebook{
	color:#4c66a4;
}
.footerContent .twitter{
	color:#55acee;
}
.footerContent .instagram{
	color:#3f729b
}